h3{
   text-decoration:underline;
   font-family:Verana;
}


.bw{
      color:white;
      background-color:dimgrey;
       
}

.wb{
      color:black;
      background-color:white;
       
}

